/* OPTION */
.optionbox * {
	outline: 0;
}
.optionbox {
	display: inline-block;
	position: relative;
	cursor: default;
	/*font-size: 12px;*/
	line-height: 14px;
}
.optionbox .selected {
	height: 20px;
    font-size: 14px;
}
.optionbox .selected .selected-inner {
	/*white-space: nowrap;
	overflow: hidden;
	
	border: 1px solid #c0c0c0;
	padding: 3px 15px 3px 5px;
	background: white url('img/option-right.jpg') no-repeat center right;
	text-align: left;*/
    background: url("img/option-right.png") no-repeat scroll right center #202020;
    border: medium none;
    overflow: hidden;
    padding: 3px 15px 3px 5px;
    text-align: left;
    white-space: nowrap;
}
.optionbox .options {
	border: 1px solid #c0c0c0;
	position: absolute;
	left: 0;
	background: white;
	z-index: 2;
	max-width: 550px;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	top: 21px;
    font-size: 14px;
}
.optionbox .options a.option {
	padding: 3px 25px 3px 5px;
	display: block;
	color: #333333 !important;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	font-weight: normal;
}
.optionbox .options a.option:hover {
	background: #c0c0c0;
	color: white !important;
}
.optionbox .options a.option-selected {
	border: 0;
	background: none;
	height: auto;
	color: #333333 !important;
	font-weight: bold;
	
	padding: 3px 25px 3px 5px;
	display: block;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
}
.optionbox .options a.option-selected:hover {
	background: #c0c0c0;
}
.optionbox .options a.option-disabled {
	color: #aaaaaa !important;
	
	padding: 3px 25px 3px 5px;
	display: block;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
}
.optionbox .options a.option-disabled:hover {
	background: #eeeeee !important;
	color: #aaaaaa !important;
}
.optionbox .options a.option-selected-disabled {
	color: #aaaaaa !important;
	
	padding: 3px 25px 3px 5px;
	display: block;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
}
.optionbox .options a.option-selected-disabled:hover {
	background: #eeeeee !important;
	color: #aaaaaa !important;
}